{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block postload_css %}
	<style type="text/css">
		.book-list li {
			margin-top: 5px;
		}

			/* Небольшой костыль для кнопки поиска на главной */
		.custom-submit {
			background-color: #FFFFFF;
			border: 0 none;
			position: relative;
			right: 24px;
			top: -2px;
			padding-right: 8px;
		}
	</style>
	<link href="{{ STATIC_URL }}css/book-alphabet-search.css" rel="stylesheet">
{% endblock %}

{% block postload_js %}
	<script src="{{ STATIC_URL }}js/book-alphabet-search.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span12">
			<form method="GET" action="{% url book_list %}" style="text-align: center;">
				<input type="text" class="span9" name="icontains" placeholder="Найти книгу" />
				<input class="custom-submit icon-search" type="submit" name="" value="">
			</form>

			{% include "books/includes/alphabet_form.html" %}
		</div>
	</div>

	<div class="row">
		<div class="span9">
			<ul class="book-list" style="list-style: none;">
				<li>
					<h3>10 последние просмотров:</h3>
				</li>
				{% for book in last_look_book %}
					<li>
						<a href="{% url book_detail book.pk %}">
							{{ book.name }}
						</a>
						{#						{% include "books/includes/bookmark_button.html" %}#}
					</li>
				{% endfor %}
				<li style="margin: 20px 30px;">
					<h3>
						<a href="{% url book_list %}">
							Все книги
						</a>
					</h3>
				</li>
			</ul>
		</div>
		<div class="span3">
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
				new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 7,
					interval: 30000,
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#333333',
							color: '#ffffff'
						},
						tweets: {
							background: '#000000',
							color: '#ffffff',
							links: '#4aed05'
						}
					},
					features: {
						scrollbar: false,
						loop: false,
						live: true,
						behavior: 'all'
					}
				}).render().setUser('bellibru1').start();
			</script>
		</div>
	</div>
{% endblock %}