{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Главная{% endblock %}

{% block postload_css %}
	<link href="{{ STATIC_URL }}css/book-alphabet-search.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
	<link href="{{ STATIC_URL }}css/main-page.css" rel="stylesheet">
{% endblock %}

{% block postload_js %}
	<script src="{{ STATIC_URL }}js/book-alphabet-search.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
	{% include "includes/search_pannel.html" %}

	<div class="row main-page-latest-book">
		<h2 align="center">Популярные книги</h2>
		{% for book in books_popular %}
			<div class="span3">
				<ul class="thumbnails">
					<li class="span3">
						<div class="thumbnail img">
							<a href="{% url book_detail book.pk %}">
								{% include "books/includes/watermark.html" %}

								{% thumbnail item.image "200x100" crop="center 90%" as im %}
									<img src="{{ im.url }}" alt="Книга {{ book.name }}">
								{% empty %}
									<img src="http://placehold.it/220x213" alt="Книга {{ book.name }}">
								{% endthumbnail %}
							</a>
						</div>
						<a href="{% url book_detail book.pk %}">
							{{ book.name|truncatechars:"32" }}
						</a>
					</li>
				</ul>
			</div>
		{% endfor %}
		<a href="" class="books-catalog-link">
			Все книги...
		</a>
	</div>

	<div class="row main-page-social-block">
		<h2 align="center">Мы в социальных сетях</h2>
		<div class="span3">
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
				new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 7,
					interval: 30000,
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#333333',
							color: '#ffffff'
						},
						tweets: {
							background: '#000000',
							color: '#ffffff',
							links: '#4aed05'
						}
					},
					features: {
						scrollbar: false,
						loop: false,
						live: true,
						behavior: 'all'
					}
				}).render().setUser('bellibru1').start();
			</script>
		</div>
		<div class="span3 offset2">
			<div id="vk_groups"></div>
			<script type="text/javascript">
				VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "390"}, 20003922);
			</script>
		</div>
		<div class="span3 offset1">
			<div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="220" data-height="390" data-show-faces="true" data-stream="false" data-header="false"></div>
		</div>
	</div>
{% endblock %}