{% extends "base.html" %}

{% load book_read %}

{% block title %}Главная{% endblock %}

{% block postload_css %}
	<style type="text/css">
		.book-list li {
			margin-top: 5px;
		}
		.read-book {
			display: inline;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span8 offset1">
			<form method="POST" action="{% url book_search %}">
				<input type="text" class="span9" name="text" placeholder="Найти книгу" id="main_search_input" />
			</form>
		</div>
	</div>

	<div class="row">
		<div class="span9">
			<ul class="book-list" style="list-style: none;">
				<li>
					<h3>10 последние просмотров:</h3>
				</li>
				{% for book in last_look_book %}
					<li>
						<a href="{% url book_detail book.pk %}">
							{{ book.name }}
						</a>
						{% is_read request book as read %}
						{% with book_id=book.pk is_read=read %}
							{% include "books/includes/read_button.html" %}
						{% endwith %}
					</li>
				{% endfor %}
				<li style="margin: 20px 30px;">
					<h3>
						<a href="{% url book_list %}">
							Все книги
						</a>
					</h3>
				</li>
			</ul>
		</div>
		<div class="span3">
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
				new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 7,
					interval: 30000,
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#333333',
							color: '#ffffff'
						},
						tweets: {
							background: '#000000',
							color: '#ffffff',
							links: '#4aed05'
						}
					},
					features: {
						scrollbar: false,
						loop: false,
						live: true,
						behavior: 'all'
					}
				}).render().setUser('bellibru1').start();
			</script>
		</div>
	</div>
{% endblock %}