{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Книги{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url main_page %}">Главная</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<h1>
				Каталог книг
			</h1>
		</li>
	</ul>
{% endblock %}

{% block postload_js %}
	<script src="{{ STATIC_URL }}js/book-alphabet-search.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block postload_css %}
	<link href="{{ STATIC_URL }}css/book-alphabet-search.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="filter span3" style="margin-top: 40px;">
			{% if last_look_book %}
				<h3 align="center">Последние просмотры</h3>
				<ul class="thumbnails">
					{% for book in last_look_book %}
						<li class="span2">
							<div class="thumbnail img">
								<a href="{% url book_detail book.pk %}">
									{% include "books/includes/watermark.html" %}

									{% thumbnail item.image "180x80" crop="center 90%" as im %}
										<img src="{{ im.url }}" alt="Книга {{ book.name }}">
									{% empty %}
										<img src="http://placehold.it/220x213" alt="Книга {{ book.name }}">
									{% endthumbnail %}
								</a>
							</div>
							<a href="{% url book_detail book.pk %}">
								{{ book.name|truncatechars:"36" }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				&nbsp;
			{% endif %}
		</div>
		<div class="span9">
			<div class="span9">
				{% include "books/includes/alphabet_form.html" %}
			</div>
			{% for book in books %}
				{% with can_bookmark_add="True" %}
					{% include "books/includes/book_on_row.html" %}
				{% endwith %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="span8 offset3">
			{% include "includes/pagination.html" %}
		</div>
	</div>
{% endblock %}