<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Формуляр &mdash; {{ book.name }}</title>

		<link href="{{ STATIC_URL }}css/book-order-blank.css" rel="stylesheet">
	</head>
	<body align="center;">
		{% if book or books %}
			<!-- Три линии с даннвми о книге -->
			<table class="order-blanks-table">
				{% if books %}
					{% for book in books %}
						{% include "books/includes/order_on_row.html" %}
						{%  if not forloop.last %}
							<tr>
								<td colspan="2">
									<hr/>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if book %}
					{% include "books/includes/order_on_row.html" %}
				{% endif %}
			</table>
			<input value=" &nbsp; Печать &nbsp; " onClick="print(document);" type="button" class="order-print-button">
		{% else %}
			<h3 align="center">Нет формуляров для печати...</h3>
		{% endif %}
	</body>
</html>