{% extends "base.html" %}

{% load pagination_tags %}

{% block title %}Книги{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url main_page %}">Главная</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<h1>
				Каталог книг
			</h1>
		</li>
	</ul>
{% endblock %}

{% block postload_js %}
	<script src="{{ STATIC_URL }}js/book-alphabet-search.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block postload_css %}
	<link href="{{ STATIC_URL }}css/book-alphabet-search.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{% include "includes/search_pannel.html" %}

	<div class="row">
		<div class="span12">
			{% autopaginate books 10 %}
			{% for book in books %}
				{% with can_bookmark_add="True" %}
					{% include "books/includes/book_on_row.html" %}
				{% endwith %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			{% paginate %}
		</div>
	</div>
{% endblock %}