{% extends "base.html" %}

{% load book_read %}
{% load book_order %}

{% block title %}{{ book.name }}{% endblock %}

{% block postload_js %}
	<script src="{{ STATIC_URL }}js/book-order.js"></script>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url main_page %}">Главная</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="{% url book_list %}">Каталог книг</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<h1>
				{{ book.name }}
			</h1>
		</li>
	</ul>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span3">
			<ul class="thumbnails">
				<li class="span3">
					<a class="thumbnail" href="#" onclick="return false;">
						<img alt="" src="http://placehold.it/260x180">
					</a>
				</li>
			</ul>
			{% is_read request book as read %}
			{% with book_id=book.pk is_read=read %}
				{% include "books/includes/read_button.html" %}
			{% endwith %}

			{% is_take request book as order %}
			{% if request.user.is_authenticated and not order %}
				<div class="order-book-form-container">
					<a href="#" data-book-id="{{ book.pk }}" class="btn btn-info order-book-form-render">
						Взять книгу
					</a>
				</div>
			{% else %}
				{{ order.added }}
			{% endif %}

			{% include "includes/social.html" %}
		</div>
		<div class="span9 book-desc">
			<h4>{{ book.name }}</h4>
			<table cellspacing="0" cellpadding="0" class="book-detail">
				<tbody>
					<tr>
						<th>
							Инвентарный номер
						</th>
						<td>
							{{ book.inventory }}
						</td>
					</tr>
					<tr>
						<th>
							Том
						</th>
						<td>
							{{ book.volume }}
						</td>
					</tr>
					<tr>
						<th>
							Автор
						</th>
						<td>
							{{ book.author }}
						</td>
					</tr>
					<tr>
						<th>
							ISBN
						</th>
						<td>
							{{ book.isbn }}
						</td>
					</tr>
					<tr>
						<th>
							ISBN-10
						</th>
						<td>
							{{ book.isbn10 }}
						</td>
					</tr>
					<tr>
						<th>
							BBK1
						</th>
						<td>
							{{ book.bbk1 }}
						</td>
					</tr>
					<tr>
						<th>
							BBK2
						</th>
						<td>
							{{ book.bbk2 }}
						</td>
					</tr>
					<tr>
						<th>
							Жанр
						</th>
						<td>
							{{ book.genre }}
						</td>
					</tr>
					<tr>
						<th>
							Серия
						</th>
						<td>
							{{ book.series }}
						</td>
					</tr>
					<tr>
						<th>
							Издатель
						</th>
						<td>
							{{ book.publisher }}
						</td>
					</tr>
					<tr>
						<th>
							Город
						</th>
						<td>
							{{ book.city }}
						</td>
					</tr>
					<tr>
						<th>
							Год издания
						</th>
						<td>
							{{ book.year }}
						</td>
					</tr>
					<tr>
						<th>
							Страниц
						</th>
						<td>
							{{ book.pages }}
						</td>
					</tr>
					<tr>
						<th>
							Язык
						</th>
						<td>
							{{ book.lang }}
						</td>
					</tr>
					<tr>
						<th>
							Формат
						</th>
						<td>
							{{ book.format }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}