<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Формуляр &mdash; {{ book.name }}</title>

		<style type="text/css">
			.content {
				text-indent: 35px;
			}
		</style>
	</head>
	<body>
		<!-- Три линии с даннвми о книге -->
		<table width="400">
			<tr>
				<td>{{ book.bbk1 }}</td>
				<td align="right">{{ book.inventory }}</td>
			</tr>
			<tr>
				<td>{{ book.format }}</td>
				<td>{{ bppk.author }}</td>
			</tr>
			<tr>
				<td colspan="2" class="content">
					{{ book.name }}
					{{ book.genre }}
					{{ book.author.name }}
					{{ book.publisher.name }}
					{{ book.year }}
					{{ book.pages }}
					{{ book.pages }}
					ISBN {{ book.isbn }}
				</td>
			</tr>
			<tr>
				<td colspan="2" class="content">
					{{ book.price }} р.
				</td>
			</tr>
			<tr>
				<td>{{ book.bbk2 }}</td>
				<td align="right">{{ book.bbk2 }}</td>
			</tr>
			<tr>
				<td colspan="2">
					<input value=" &nbsp; Печать &nbsp; " onClick="print(document);" type="button">
				</td>
			</tr>
		</table>
	</body>
</html>