{% extends "base.html" %}

{% block title %}Закладки{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url main_page %}">Главная</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="{% url book_list %}">Каталог книг</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<h1>
				Закладки
			</h1>
		</li>
	</ul>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="span12">
			{% for book in books %}
				{% with can_delete="True" can_take="True" %}
					{% include "books/includes/book_on_row.html" %}
				{% endwith %}
			{% endfor %}
		</div>
	</div>
{% endblock %}