{% extends "base.html" %}

{% block title %}Закладки{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url main_page %}">Главная</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="{% url book_list %}">Каталог книг</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<h1>
				Закладки
			</h1>
		</li>
		<li style="float: right; margin-top: 3px; margin-right: -10px;">
			<a class="btn" href="{% url book_bookmarks_print %}" target="_blank" style="display: inline-block;">
				<i class="icon-print"></i>
				Напечатать все закладки
			</a>
		</li>
	</ul>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="span12">
			{% for book in books %}
				{% with can_delete="True" can_take="True" %}
					{% include "books/includes/book_on_row.html" %}
				{% endwith %}
			{% endfor %}
		</div>
	</div>
{% endblock %}