<div class="alphabet-container">
	<h2 align="center">Алфавитный указатель</h2>
	<ul>
		<li>А</li>
		<li>Б</li>
		<li>В</li>
		<li>Г</li>
		<li>Д</li>
		<li>Е</li>
		<li>Ё</li>
		<li>Ж</li>
		<li>З</li>
		<li>И</li>
		<li>К</li>
		<li>Л</li>
		<li>М</li>
		<li>Н</li>
		<li>О</li>
		<li>П</li>
		<li>Р</li>
		<li>С</li>
		<li>Т</li>
		<li>У</li>
		<li>Ф</li>
		<li>Х</li>
		<li>Ч</li>
		<li>Ш</li>
		<li>Щ</li>
		<li>Э</li>
		<li>Ю</li>
		<li>Я</li>
	</ul>
	<ul>
		<li>A</li>
		<li>B</li>
		<li>C</li>
		<li>D</li>
		<li>E</li>
		<li>F</li>
		<li>G</li>
		<li>J</li>
		<li>K</li>
		<li>L</li>
		<li>M</li>
		<li>N</li>
		<li>O</li>
		<li>P</li>
		<li>Q</li>
		<li>R</li>
		<li>S</li>
		<li>T</li>
		<li>U</li>
		<li>V</li>
		<li>W</li>
		<li>X</li>
		<li>Y</li>
		<li>Z</li>
	</ul>
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li>7</li>
		<li>8</li>
		<li>9</li>
		<li>0</li>
	</ul>
</div>