<div class="book-row row">
	<div class="span1">
		<ul class="thumbnails">
			<li class="span1">
				<div class="thumbnail img">
					{% include "books/includes/watermark.html" %}
					<img src="http://placehold.it/60x90" alt="Книга {{ book.name }}">
				</div>
			</li>
		</ul>
	</div>
	<div class="span8">
		<a class="book-name" href="{% url book_detail book.pk %}">
			{{ book.name }}
		</a>&nbsp;
		<span class="book-year">({{ book.year }} г.)</span>

		<div class="book-author">{{ book.author }}</div>
		<div class="book-genre">{{ book.genre }}</div>
		{% if can_bookmark_add %}
			{% include "books/includes/bookmark_button.html" %}
		{% endif %}
	</div>
	{% if can_bookmark_del %}
		<div class="span3">
			{# Удалить из "закладок" #}
			<button class="close book-bookmark-del-than-remove-row" data-book-id="{{ book.pk }}">×</button>
		</div>
	{% endif %}
	{% if can_print_blank %}
		<div class="print-order-block">
			{% if request.user.is_authenticated %}
				<a class="btn" href="{% url book_blank book.pk %}" class="tacke-order" target="_blank">
					<i class="icon-print"></i>
					Получить формуляр
				</a>
			{% else %}
				<a class="btn" data-toggle="modal" href="#signInPopup">
					<i class="icon-print"></i>
					Получить формуляр
				</a>
			{% endif %}
		</div>
	{% endif %}
</div>