<tr>
	<td>{{ book.bbk1 }}</td>
	<td align="right">{{ book.inventory }}</td>
</tr>
<tr>
	<td>{{ book.format }}</td>
	<td>{{ bppk.authorauthor }}</td>
</tr>
<tr>
	<td colspan="2" class="content">
		{{ book.name }}
		{{ book.genreauthor }}
		{{ book.author.name }}
		{{ book.publisher.name }}
		{{ book.year }}
		{{ book.pages }}
		ISBN {{ book.isbn }}
	</td>
</tr>
<tr>
	<td colspan="2" class="content">
		{{ book.price }} р.
	</td>
</tr>
<tr class="order-last-row">
	<td>{{ book.bbk2 }}</td>
	<td align="right">{{ book.bbk2 }}</td>
</tr>
