{% load book_order %}

<div class="order-book-form-container">
	{% if request.user.is_authenticated %}
		{% is_take request book as order %}
		{% if order %}
			{% if order.status == "complete" or order.status == "reject" %}
				<a class="btn btn-primary" data-toggle="modal" href="#signInPopup">
					Оставить заявку
				</a>
			{% else %}
				Вы уже отправили заявку на книгу<br/>
				Библиотекарь свяжется с вами в ближайшее время...
				<a href="#" class="btn btn-warning order-book-cancel" data-order-id="{{ order.pk }}">
					Отменить заявку
				</a>
			{% endif %}
		{% else %}
			<a href="#" data-book-id="{{ book.pk }}" class="btn btn-primary order-book-form-render">
				Оставить заявку
			</a>
		{% endif %}
	{% else %}
		<a class="btn btn-primary" data-toggle="modal" href="#signInPopup">
			Оставить заявку
		</a>
	{% endif %}
</div>