
.book-list li {
	margin-top: 5px;
}

/* Небольшой костыль для кнопки поиска на главной */

.main-page-search-pannel form {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}
.main-page-search-pannel input[name=icontains] {
	text-align: center;
	font-size: 16pt;
	height: 24px;
}

.main-page-text-block p {
	text-indent: 30px;
	text-align: justify;
	line-height: 20px;
}
.main-page-text-block {
	margin-top: 20px;
	margin-bottom: 20px;
}

.books-catalog-link {
	float: right;
	margin-top: 12px;
	margin-right: 20px;
	color: #000000;
	font-size: 12pt;
	font-weight: bolder;
	text-decoration: underline;
}

.main-page-social-block {
	margin-top: 30px;
}