/*=====================================
 GLOBAL
 =====================================*/
html,body {
    height: 100%;
    float: left;
    width: 100%;
}

body {
    font-family: helvetica, arial, sans-serif;
}
p {
    font-size: 12px;
    color: #333333;
}
a:hover {
    text-decoration:none;
}
body h1 {

}
body h2 {

}

body ul {
    margin: 0;
    list-style: none;
}

.container {
    min-height: 100%;
}
.container p {
    font-size: 12px;
    color: #333333;
}
.container h1 {
    
}
.container h2 {
    color: #323232;
    margin: 10px 0 10px 0;
}
.container h3 {
    line-height: 20px;
    color: #323232;
    margin: 10px 0 10px 0;
}
.container h4 {
    color: #323232;
    font-size: 17px;
    margin: 0;
}
.container .subtitle {
    font-size: 14px;
}

.navbar .navbar-search .search-query, .navbar .navbar-search .search-query.focused, .navbar .navbar-search .search-query:focus {
	margin-bottom: 5px;
	color: #333333;
	background-color: #FFF;
	font-size: 12px;
	padding: 5px 9px 3px 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.navbar .navbar-search .submit {
	border: 0 none;
	display: block;
	position: absolute;
	width: 14px;
	right: 10px;
	top: 7px;
}


/*--------- Navigation --------*/

.nav.nav-tabs li a {
    padding-left: 8px;
    padding-right: 8px;
}
.nav.nav-tabs li.last {
    float: right;
}
.nav.nav-tabs li.last a, .nav.nav-tabs li.last a:hover {
    margin-right: 0px;
    padding-right: 0px;
    background-color:#FFF;
    border: 0px none;
}

.nav.nav-tabs li.active a {
    color: #333333;
}

h1 {
	margin-bottom: 20px;
}

.errorlist {
	margin-left: 10px;
	margin-bottom: 10px;
	list-style-type: square;
}

.breadcrumb .active h1 {
	font-size: 13px;
	height: 18px;
	margin: 0;
}
ul.breadcrumb {
	padding-top: 0;
}
.book-row {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
.book-row:last-child {
	border: 0;
}
.book-name {
	font-size: 11pt;
	font-weight: bolder;
	text-decoration: underline;
}
.book-year {
	font-size: 10px;
	white-space: nowrap;
}
.row .filter h2 {
	margin-top: 0;
}

.book-desc h4 {
	margin-bottom: 20px;
}
.book-detail {
	width: 100%;
}
.social-pannel {
	margin-top: 10px;
}
.social-pannel li {
	height: 30px;
	margin-top: 4px;
}

#main_search_input {
	height: 27px;
	font-size: 14pt;
	text-align: center;
}

.order-book-form-render {
	margin-top: 10px;
}

.order-book-form-container {
	margin-top: 30px;
}

label[for=library_id] {
	font-size: 8pt;
}

.order-book-form select {
	height: 26px;
	border-radius: 5px;
}

.order-book-form select {
	font-size: 8pt;
}

.order-book-cancel {
	margin-top: 10px;
}

.bookmark-control-btn
{
	float: right; margin-top: 3px;
}

.pager .active a {
	font-weight: bold;
	background-color: #DDDDDD;
	cursor: default;
}

.breadcrumbs-row {
	margin-top: 60px;
}