{% if is_paginated %}
	<div class="pager">
		<ul>
			<li class="previous">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">
						&larr;
					</a>
				{% else %}
					<a>
						&larr;
					</a>
				{% endif %}
			</li>

			{% for p in page_obj.paginator.page_range %}
				{% ifequal p page_obj.number %}
					<li class="active">
						<a>
							{{ p }}
						</a>
					</li>
				{% else %}
					<li>
						<a href="?page={{ p }}">
							{{ p }}
						</a>
					</li>
				{% endifequal %}
			{% endfor %}

			<li class="next">
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">
						&rarr;
					</a>
				{% else %}
					<a>
						&rarr;
					</a>
				{% endif %}
			</li>
		</ul>
	</div>
{% endif %}