{% if is_paginated %}
	<div class="pager">
		<ul>
			<li class="previous">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">
						&larr;
					</a>
				{% else %}
					<a>
						&larr;
					</a>
				{% endif %}
			</li>

			{% for p in page_obj.paginator.page_range %}
				{% if p < 10 %}
					{% ifequal p page_obj.number %}
						<li class="active">
							<a>
								{{ p }}
							</a>
						</li>
					{% else %}
						<li>
							<a href="?page={{ p }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
								{{ p }}
							</a>
						</li>
					{% endifequal %}
				{% endif %}

			{% endfor %}

			<li class="next">
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
						&rarr;
					</a>
				{% else %}
					<a>
						&rarr;
					</a>
				{% endif %}
			</li>
		</ul>
	</div>
{% endif %}