<div class="navbar">
	<div class="navbar-inner nav-main">
		<div class="container">
			{% url main_page as main_page_url %}
			<a class="brand" {% ifequal main_page_url request.path %}style="cursor: default;"{% else %}href="{{ main_page_url }}"{% endifequal %}>
				<i class="icon-home icon-white"></i>Книгобаза.Ру
			</a>
			<ul class="nav">
				<li>
					<a href="{% url book_list %}">
						<i class="icon-book"></i>
						Каталог книг
					</a>
				</li>
				<li>
					<a href="{% url book_will_read_list %}">
						<i class="icon-star"></i>
						Закладки
					</a>
				</li>
				{% ifnotequal main_page_url request.path %}
					<li>
						<form method="POST" action="{% url book_search %}" class="navbar-search pull-right">
							<input type="text" class="search-query span3" placeholder="Найти книгу">
							<input type="submit" value="" name="" class="submit icon-search" />
						</form>
					</li>
				{% endifnotequal %}
			</ul>
			<ul class="nav pull-right {% if not request.user.is_authenticated %}auth-buttons{% endif %}">
				{% if request.user.is_authenticated %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							{{ request.user }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url profile_signout %}">
									<i class="icon-off"></i>
									Выйти
								</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li>
						<a data-toggle="modal" href="#signInPopup">
							Войти
						</a>
					</li>
					<li>
						<a href="{% url profile_signup %}">
							Регистрация
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>